In [1]:
#######################################
# CS 424 - Project 3
# Kevin Kowalski
# Samuel Kajah
# Vijay Vemu
#######################################
#
# This file contains the code to clean
# the original data set. It outputs
# the necessary plots and updated data
# set to be used by shiny.
#
# This file was used for testing and 
# plotting before using RStudio for a
# dashboard.
#
#######################################

In [2]:
# import libraries
library(comprehenr)
library(dplyr)
library(ggplot2)
library(hashmap)
library(lubridate)
library(stringr)
library(tidyverse)

Warning message:
"package 'comprehenr' was built under R version 3.6.2"Warning message:
"package 'dplyr' was built under R version 3.6.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'hashmap' was built under R version 3.6.2"Warning message:
"package 'lubridate' was built under R version 3.6.2"
Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

Warning message:
"package 'stringr' was built under R version 3.6.2"Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
v tibble  2.1.3     v purrr   0.3.3
v tidyr   1.0.2     v forcats 0.5.0
v readr   1.3.1
Warning message:
"package 'tibble' was built under R version 3.6.2"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'readr' was built under R version 3.6.2"Warning message:
"package 'purrr' was built under R version 3.6.2"Warning message:
"package 'forcats' was built under R version 3.6.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x lubridate::as.difftime() masks base::as.difftime()
x lubridate::date()        masks base::date()
x dplyr::filter()          masks stats::filter()
x lubridate::intersect()   masks base::intersect()
x dplyr::lag()             masks stats::lag()
x lubridate::setdiff()     masks base::setdiff()
x lubridate::union()       masks base::union()

In [3]:
# read in the combined RDS file
data <- readRDS(file = "combined_data.rds")

# LEAVE COMMENTED, UNLESS YOU NEED TO REMAKE FILE
# keywords table only for movies found in combined data table
#keywords_subset <- subset(df_keywords, movie %in% data$movie)
#write.csv(keywords_subset, file = 'keywords_subset.csv')

# read in the subsetted keywords CSV file
keywords_subset = read.csv('keywords_subset.csv')

In [4]:
# output number of entries in data
total_data <- count(data)
print(paste0("---- data, n=", total_data))
unique_films <- length(unique(data$movie))
print(paste0("---- unique movies, n=", unique_films))

[1] "---- data, n=334427"
[1] "---- unique movies, n=36596"

In [5]:
# get list of movies where none is duplicated (used for times where you only want to account for a movie once, such as runtime average)
unique_movies <- subset(data, !duplicated(subset(data, select = movie)))

In [6]:
# preview the top 5 rows
head(data, 5)

# get a random sample of 5 rows
sample_n(data, 5)

    movie                year month     genre    runtime rating
214 #FollowFriday (2016) 2016 September Thriller  90     USA:Unrated
698 $ (1971)             1971 December  Comedy   121     USA:R
700 $ (1971)             1971 December  Crime    121     USA:R
702 $ (1971)             1971 December  Drama    121     USA:R
714 $10 Raise (1935)     1935 May       Comedy    70     USA:Approved

  movie                            year month     genre     runtime
1 Hard Cash (2002)                 2002 December  Action    116
2 Tom & Thomas (2002)              2002 January   Family    110
3 Silent Shame (2009)              2009 November  Drama      90
4 Young Man with a Horn (1950)     1950 March     Biography 112
5 20 Million Miles to Earth (1957) 1957 September Sci-Fi     82
  rating
1 USA:R
2 USA:PG
3 USA:R
4 USA:Approved
5 USA:Approved

In [7]:
# get min and max years
min_year_all <- min(data$year)
max_year_all <- max(data$year)
print(paste0("---- years range from: ", min_year_all, "-", max_year_all))

[1] "---- years range from: 1912-2019"

In [8]:
# get min and max decades
min_decade_all <- floor(min(data$year) / 10) * 10
max_decade_all <- floor(max(data$year) / 10) * 10
print(paste0("---- decades range from: ", min_decade_all, "-", max_decade_all))

[1] "---- decades range from: 1910-2010"

In [9]:
# get min and max runtimes
min_runtime_all <- min(data$runtime)
max_runtime_all <- max(data$runtime)
print(paste0("---- runtimes range from: ", min_runtime_all, "-", max_runtime_all, " minutes"))

[1] "---- runtimes range from: 60-453 minutes"

In [10]:
############## COUNT/DISTRIBUTION TABLES BELOW ##############

In [11]:
# function to get a count of movies from each year as a table (same as above)
number_films_per_year = function(table) {
    
    # create empty dataframe of all years in range from calculated min to max
    all_years <- data.frame(formatC(min_year_all:max_year_all, width = 2), 0)
    names(all_years)[1] <- "year"
    names(all_years)[2] <- "count"
    all_years$year <- c(min_year_all:max_year_all)
    
    # make dataframe of available years and their frequency
    by_year <- table %>% group_by(year) %>% summarize(count = n())
    
    # join the counts into the full range of years dataframe
    by_year <- full_join(all_years, by_year, by = "year")
    by_year[is.na(by_year)] <- 0
    by_year$count.x <- NULL
    names(by_year)[2] <- "count"
    
    # output info
    total_films = as.numeric(sum(by_year$count))
    print(paste0("---- total counted= ", total_films))
    unique_years = as.numeric(count(by_year))
    print(paste0("---- unique years= ", unique_years))
    
    # return the table of counts per year
    by_year
}

# function to get a count of movies from each decade as a table
number_films_per_decade = function(table) {
    
    # create empty dataframe of each decade in range from calculated min to max
    all_decades <- data.frame(formatC(1:((max_decade_all - min_decade_all) / 10 + 1), width = 2), 0)
    names(all_decades)[1] <- "decade"
    names(all_decades)[2] <- "count"
    all_decades$decade <- seq(from = min_decade_all, to = max_decade_all, by = 10)
    
    # INEFFICIENT NESTED LOOP, IDEALLY A GROUP_BY OR SOMETHING BETTER
    # loop through each movie in given table
    for (row in 1:as.numeric(count(table))) {
        
        # get the current movie's decade it belongs to
        curr_decade = floor(table$year[row] / 10) * 10
        
        # loop through each decade
        for (i in 1:as.numeric(count(all_decades))) {
            
            # increment the decade count for found decade
            if (curr_decade == all_decades$decade[i]) {
                all_decades$count[i] <- all_decades$count[i] + 1
                break
            }
        }
    }
    
    # output info
    total_films = as.numeric(sum(all_decades$count))
    print(paste0("---- total counted= ", total_films))
    unique_decades = as.numeric(count(all_decades))
    print(paste0("---- unique decades= ", unique_decades))
    
    # return the table of counts per decade
    all_decades
}

# function to get a count of movies from each month as a table
number_films_per_month = function(table) {
    
    # get a count of movies from each month
    by_month <- table %>% group_by(month) %>% summarize(count = n())

    # reorder months to be in order
    by_month$month <- factor(by_month$month, levels = c("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"))
    by_month <- by_month[order(by_month$month), ]

    # output info
    by_month
    print(paste0("---- total counted= ", sum(by_month$count)))
    unique_months = as.numeric(count(by_month))
    print(paste0("---- unique months= ", unique_months))
    
    # return the table of counts per month
    by_month
}

# function to get a distribution of runtimes as a table
distribution_of_runtimes = function(table) {
    
    # create empty dataframe of all runtimes in range from min to max
    all_runtimes <- data.frame(formatC(min_runtime_all:max_runtime_all, width = 2), 0)
    names(all_runtimes)[1] <- "runtime"
    names(all_runtimes)[2] <- "count"
    all_runtimes$runtime <- c(min_runtime_all:max_runtime_all)

    # make dataframe of available runtimes and their frequency
    by_runtime <- table %>% group_by(runtime) %>% summarize(count = n())

    # join the counts into the full range of years dataframe
    by_runtime <- full_join(all_runtimes, by_runtime, by = "runtime")
    by_runtime[is.na(by_runtime)] <- 0
    by_runtime$count.x <- NULL
    names(by_runtime)[2] <- "count"

    # output info
    head(by_runtime, 10)
    print(paste0("---- total counted= ", sum(by_runtime$count)))
    unique_runtimes = as.numeric(count(by_runtime))
    print(paste0("---- unique runtimes= ", unique_runtimes))
    
    # return the distribution of runtimes
    by_runtime
}

# function to get a distribution of certificates as a table
distribution_of_certificates = function(table) {
    
    # get a distribution of certificate
    by_certificates <- table %>% group_by(rating) %>% summarize(count = n())

    # output info
    print(paste0("---- total counted= ", sum(by_certificates$count)))
    unique_certificates = as.numeric(count(by_certificates))
    print(paste0("---- unique certificates= ", unique_certificates))
    
    # return the distribution of certificates
    by_certificates
}

# function to get a distribution of genres as a table
distribution_of_genres = function(table) {
    
    # get a distribution of genres
    by_genre <- table %>% group_by(genre) %>% summarize(count = n())

    # output info
    print(paste0("---- total counted= ", sum(by_genre$count)))
    unique_genres = as.numeric(count(by_genre))
    print(paste0("---- unique genres= ", unique_genres))
    
    # return the distribution of genres
    by_genre
}

# function to get a distribution of top n keywords as a table
distribution_of_keywords = function(table, n) {

    # get a distribution of top n keywords
    by_keywords <- table %>% group_by(keyword) %>% summarize(count = n())

    # output info
    by_keywords <- top_n(by_keywords, n) %>% arrange(desc(count))
    print(paste0("---- total counted= ", sum(by_keywords$count)))
    unique_keywords = as.numeric(count(by_keywords))
    print(paste0("---- unique keywords= ", unique_keywords))
    
    # return the distribution of top n keywords
    by_keywords
}

In [12]:
# get a count of movies from each year (for entire data (of unique movies))
by_year <- number_films_per_year(unique_movies)
sample_n(by_year, 5)

[1] "---- total counted= 36596"
[1] "---- unique years= 108"

  year count
1 1932 249
2 1977 304
3 2008 865
4 1930 183
5 1925  46

In [13]:
# get a count of movies from each decade (for entire data (of unique movies), takes a minute)
by_decade <- number_films_per_decade(unique_movies)
by_decade

[1] "---- total counted= 36596"
[1] "---- unique decades= 11"

   decade count
1  1910     34
2  1920    494
3  1930   3031
4  1940   3049
5  1950   2475
6  1960   1583
7  1970   3517
8  1980   3754
9  1990   4916
10 2000   7551
11 2010   6192

In [14]:
# get rows for a movie by partial name (can exclude year from its name)
# lots of movies have differing release months for some reason
# this SHOULD output 3 rows, 1 for each genre but many release months prevents this :(
jw2 <- data[str_detect(data$movie, "John Wick: Chapter 2"), ]
jw2

        movie                       year month    genre    runtime rating
1119396 John Wick: Chapter 2 (2017) 2017 January  Action   122     USA:R
1119397 John Wick: Chapter 2 (2017) 2017 February Action   122     USA:R
1119461 John Wick: Chapter 2 (2017) 2017 March    Action   122     USA:R
1119464 John Wick: Chapter 2 (2017) 2017 April    Action   122     USA:R
1119465 John Wick: Chapter 2 (2017) 2017 May      Action   122     USA:R
1119467 John Wick: Chapter 2 (2017) 2017 July     Action   122     USA:R
1119468 John Wick: Chapter 2 (2017) 2017 January  Crime    122     USA:R
1119469 John Wick: Chapter 2 (2017) 2017 February Crime    122     USA:R
1119533 John Wick: Chapter 2 (2017) 2017 March    Crime    122     USA:R
1119536 John Wick: Chapter 2 (2017) 2017 April    Crime    122     USA:R
1119537 John Wick: Chapter 2 (2017) 2017 May      Crime    122     USA:R
1119539 John Wick: Chapter 2 (2017) 2017 July     Crime    122     USA:R
1119540 John Wick: Chapter 2 (2017) 2017 January  Thriller 122     USA:R
1119541 John Wick: Chapter 2 (2017) 2017 February Thriller 122     USA:R
1119605 John Wick: Chapter 2 (2017) 2017 March    Thriller 122     USA:R
1119608 John Wick: Chapter 2 (2017) 2017 April    Thriller 122     USA:R
1119609 John Wick: Chapter 2 (2017) 2017 May      Thriller 122     USA:R
1119611 John Wick: Chapter 2 (2017) 2017 July     Thriller 122     USA:R

In [15]:
# !!!
# since most movies have several months/genres as listed above, the leftover month
# from the unique_films table might not be correct so the months table below is skewed
# !!!

# get a count of movies from each month (for entire data (of unique movies))
by_month <- number_films_per_month(unique_movies)
by_month

[1] "---- total counted= 36596"
[1] "---- unique months= 12"

   month     count
1  January   3150
2  February  2511
3  March     3105
4  April     3082
5  May       3485
6  June      2651
7  July      2410
8  August    2921
9  September 4453
10 October   3478
11 November  2667
12 December  2683

In [16]:
# get a distribution of runtimes
by_runtime <- distribution_of_runtimes(unique_movies)
sample_n(by_runtime, 5)

[1] "---- total counted= 36596"
[1] "---- unique runtimes= 395"

  runtime count
1 191      2
2 353      0
3 180     17
4 134     70
5 200      6

In [17]:
# get a distribution of certificate
by_certificates <- distribution_of_certificates(unique_movies)
by_certificates

[1] "---- total counted= 36596"
[1] "---- unique certificates= 12"

   rating       count
1  USA:(Banned)     1
2  USA:12           4
3  USA:AO           3
4  USA:Approved  6604
5  USA:G         1175
6  USA:GP         186
7  USA:Open         9
8  USA:Passed    2776
9  USA:PG        4418
10 USA:PG-13     4273
11 USA:R        14191
12 USA:Unrated   2956

In [18]:
# get a distribution of genres
by_genre <- distribution_of_genres(unique_movies)
by_genre

[1] "---- total counted= 36596"
[1] "---- unique genres= 22"

   genre       count
1  Action      6226
2  Adventure   2399
3  Animation    294
4  Biography   1172
5  Comedy      9399
6  Crime       2834
7  Documentary 1255
8  Drama       8243
9  Family       161
10 Fantasy      162
11 Film-Noir     33
12 History       27
13 Horror      2230
14 Music         71
15 Musical      158
16 Mystery      276
17 Romance      232
18 Sci-Fi       151
19 Sport          8
20 Thriller     467
21 War           14
22 Western      784

In [19]:
# get a distribution of top n keywords
n = 10
by_keywords <- distribution_of_keywords(keywords_subset, n)
by_keywords

Selecting by count

[1] "---- total counted= 56048"
[1] "---- unique keywords= 10"

   keyword                   count
1  independent-film          8987
2  murder                    8281
3  death                     5430
4  female-nudity             5256
5  husband-wife-relationship 5138
6  violence                  4920
7  based-on-novel            4738
8  blood                     4523
9  cigarette-smoking         4398
10 father-son-relationship   4377

In [20]:
############## AVERAGES BELOW ##############

In [21]:
# get average films per year, month, and average runtime

# average fims per year: sum of films divided by total years observed
#avg_per_year = trunc(total_films / unique_years)
unique_years = as.numeric(count(by_year))
avg_per_year = trunc(unique_films / unique_years)
print(paste0("---- avg films per year= ", avg_per_year))

# average films per month: sum of films each month, each sum divided by total years observed; then average these results
unique_months = as.numeric(count(by_month))
avg_by_month <- by_month
avg_by_month$count <- by_month$count / unique_years
names(avg_by_month)[2] <- "average"
avg_per_month = trunc(as.numeric(sum(avg_by_month$average) / unique_months))
print(paste0("---- avg films per month= ", avg_per_month))
avg_by_month

# average runtime: sum of each runtime divided by total runtime observations
avg_runtime = trunc(mean(unique_movies$runtime))
print(paste0("---- avg runtime= ", avg_runtime))

[1] "---- avg films per year= 338"
[1] "---- avg films per month= 28"

   month     average
1  January   29.16667
2  February  23.25000
3  March     28.75000
4  April     28.53704
5  May       32.26852
6  June      24.54630
7  July      22.31481
8  August    27.04630
9  September 41.23148
10 October   32.20370
11 November  24.69444
12 December  24.84259

[1] "---- avg runtime= 95"

In [22]:
############## CHOOSE YEAR OR DECADE ##############

In [23]:
# get items by year
selected_year = 2011

# USE THIS ONE TO FETCH MOVIES BY YEAR FROM THEIR NAME (I noticed some movies have a different year than in the name, but possibly not in this combined table)
# movie year found in movie name i.e. "{Title} (2014)" or "{Title} (2014/I)", extract year via pattern matching because year column is inaccurate for some reason
#regex_year = paste0("\\(", selected_year, "\\)|\\(", selected_year, "\\/")
#movies_in_selected_year <- subset(data, grepl(regex_year, movie))

# fetch the movies by the selected year
movies_in_selected_year <- subset(data, year == selected_year)

# output a sample of movies found for given year
sample_n(movies_in_selected_year, 10)

   movie                                                  year month
1  Magic Trip: Ken Kesey's Search for a Kool Place (2011) 2011 November
2  Abduction (2011/I)                                     2011 August
3  Thor (2011)                                            2011 July
4  Un monstre à Paris (2011)                              2011 December
5  The Adjustment Bureau (2011)                           2011 March
6  21 Brothers (2011)                                     2011 November
7  The Darkest Hour (2011)                                2011 December
8  247°F (2011)                                           2011 September
9  Martha Marcy May Marlene (2011)                        2011 October
10 Mrs. Carey's Concert (2011)                            2011 April
   genre       runtime rating
1  Documentary 107     USA:R
2  Mystery     106     USA:PG-13
3  Action      115     USA:PG-13
4  Romance      90     USA:PG
5  Romance     106     USA:PG-13
6  Drama        96     USA:Unrated
7  Horror       89     USA:PG-13
8  Horror       90     USA:R
9  Thriller    102     USA:R
10 Drama        95     USA:PG

In [24]:
# get items by decade (where decades are in format of 1990, 2000, 2010, etc... for next 9 years, i.e. 1990-1999, 2000-2009, etc..)
selected_decade = 2010

# USE THIS ONE TO FETCH MOVIES BY YEAR FROM THEIR NAME
# movie year found in movie name i.e. "{Title} (2014)" or "{Title} (2014/I)", extract decade via pattern matching for decade + 9
#regex_decade = paste0("\\(", selected_decade / 10, "[0-9]\\)|\\(", selected_decade / 10, "[0-9]\\/")
#movies_in_selected_decade <- subset(data, grepl(regex_decade, movie))

# fetch the movies by the selected year
movies_in_selected_decade <- subset(data, year >= selected_decade & year < selected_decade + 10)

# output a sample of movies found for given year
sample_n(movies_in_selected_decade, 10)

   movie                       year month     genre     runtime rating
1  Planes (2013)               2013 December  Adventure  91     USA:PG
2  The Killer Inside Me (2010) 2010 April     Thriller  109     USA:R
3  Jason Bourne (2016)         2016 September Thriller  123     USA:PG-13
4  I Origins (2014)            2014 January   Romance   106     USA:R
5  In Time (2011)              2011 October   Thriller  109     USA:PG-13
6  Hot Tub Time Machine (2010) 2010 November  Sci-Fi    101     USA:R
7  Amber Alert (2012)          2012 November  Thriller   80     USA:R
8  Yi dai zong shi (2013)      2013 October   Biography 111     USA:PG-13
9  The Hunger Games (2012)     2012 June      Adventure 142     USA:PG-13
10 The Tall Man (2012)         2012 July      Drama     106     USA:R

In [25]:
############## CHOOSE GENRE ##############

In [26]:
# genre input is comma separated string list
selected_genres = "comedy, Drama , fake_test, doCumenTarY, "

# split genres input to individual inputs
genres <- unlist(strsplit(selected_genres, ","))

# retrieve first genre as a "base"
condition <- paste0("str_to_lower(str_trim(genres[1])) == str_to_lower(genre) ")

# if more than 1 genres provided...
if (length(genres) > 1) {
    
    # then build conditional string for each one after "base"
    for (i in 2:length(genres)) {
        
        # make a new condition with the current genre, being sure to ignore case and trim the input
        next_condition <- paste0("| str_to_lower(str_trim(genres[", i, "])) == str_to_lower(genre) ")
        
        # add the new condition onto the current list of conditions
        condition <- paste(condition, next_condition, sep = "")
    }
}

# movie genre found in genre column, just fetch it by parsing the condition from above
movies_in_selected_genre <- subset(data, eval(parse(text = condition)))

# output a sample of movies found for given genre(s)
sample_n(movies_in_selected_genre, 10)

   movie                                                year month     genre
1  Cesar Chavez (2014)                                  2014 October   Drama
2  Das Experiment (2001)                                2001 October   Drama
3  Beyond Re-Animator (2003)                            2003 September Comedy
4  Criss Cross (1949)                                   1949 April     Drama
5  Pygmalion (1938)                                     1938 October   Drama
6  The Thief Who Came to Dinner (1973)                  1973 March     Comedy
7  The Day the Earth Stood Still (1951)                 1951 November  Drama
8  Esther Waters (1948)                                 1948 November  Drama
9  The Pirates! In an Adventure with Scientists! (2012) 2012 July      Comedy
10 The Ex-Mrs. Bradford (1936)                          1936 August    Comedy
   runtime rating
1  102     USA:PG-13
2  114     USA:R
3   95     USA:R
4   83     USA:Approved
5   96     USA:Approved
6  104     USA:PG
7   85     USA:G
8  108     USA:Passed
9   88     USA:PG
10  82     USA:Approved

In [27]:
# number of films released in selected genre
number_in_genre <- length(unique(movies_in_selected_genre$movie))
print(paste0("---- films in genre= ", number_in_genre))

[1] "---- films in genre= 27448"

In [28]:
# table above can have duplicate movies due to movies having multiple genres or months
# get a subset of those movies where a movie only appears once
unique_movies_in_genre <- subset(movies_in_selected_genre, !duplicated(subset(movies_in_selected_genre, select = movie)))

# table of "number of films released in that genre each year" (total_counted value should match number_in_x value)
films_per_year_by_selected_genre <- number_films_per_year(unique_movies_in_genre)

# output a sample of 5 rows
sample_n(films_per_year_by_selected_genre, 5)

[1] "---- total counted= 27448"
[1] "---- unique years= 108"

  year count
1 1983 213
2 1973 293
3 1957 133
4 1914   1
5 1912   1

In [29]:
# get "percentage of films released in that genre each year"

# add total films per year to table and calculuate percentage
films_per_year_by_selected_genre$total <- by_year$count
films_per_year_by_selected_genre$percent <- (films_per_year_by_selected_genre$count / by_year$count) * 100

# output a sample of 5 rows
sample_n(films_per_year_by_selected_genre, 5)

  year count total percent
1 1941 303   388   78.09278
2 2009 649   879   73.83390
3 1996 397   503   78.92644
4 2000 495   625   79.20000
5 1934 244   292   83.56164

In [30]:
# table of "number of films released in that genre each decade" (total_counted value should match number_in_x value)
films_per_decade_by_selected_genre <- number_films_per_decade(unique_movies_in_genre)

# output a sample of 5 rows
sample_n(films_per_decade_by_selected_genre, 5)

[1] "---- total counted= 27448"
[1] "---- unique decades= 11"

  decade count
1 1950   1549
2 1910     23
3 1960   1135
4 1940   2288
5 1970   2613

In [31]:
# get "percentage of films released in that genre each decade"

# add total films per decade to table and calculuate percentage
films_per_decade_by_selected_genre$total <- by_decade$count
films_per_decade_by_selected_genre$percent <- (films_per_decade_by_selected_genre$count / by_decade$count) * 100

# show output
films_per_decade_by_selected_genre

   decade count total percent
1  1910     23    34  67.64706
2  1920    394   494  79.75709
3  1930   2379  3031  78.48895
4  1940   2288  3049  75.04100
5  1950   1549  2475  62.58586
6  1960   1135  1583  71.69931
7  1970   2613  3517  74.29628
8  1980   2758  3754  73.46830
9  1990   3760  4916  76.48495
10 2000   5915  7551  78.33400
11 2010   4634  6192  74.83850

In [32]:
# table of "number of films released in that genre each month" (total_counted value should match number_in_x value)
films_per_month_by_selected_genre <- number_films_per_month(unique_movies_in_genre)

# output a sample of 5 rows
sample_n(films_per_month_by_selected_genre, 5)

[1] "---- total counted= 27448"
[1] "---- unique months= 12"

  month     count
1 October   2502
2 March     2293
3 July      1645
4 September 3574
5 February  1906

In [33]:
# get "percentage of films released in that genre each month"

# add total films per month to table and calculuate percentage
films_per_month_by_selected_genre$total <- by_month$count
films_per_month_by_selected_genre$percent <- (films_per_month_by_selected_genre$count / by_month$count) * 100

# show output
films_per_month_by_selected_genre

   month     count total percent
1  January   2501  3150  79.39683
2  February  1906  2511  75.90601
3  March     2293  3105  73.84863
4  April     2289  3082  74.26995
5  May       2673  3485  76.70014
6  June      1971  2651  74.34930
7  July      1645  2410  68.25726
8  August    2129  2921  72.88600
9  September 3574  4453  80.26050
10 October   2502  3478  71.93790
11 November  1977  2667  74.12823
12 December  1988  2683  74.09616

In [34]:
# table of "distribution of running times of films in that genre" (total_counted value should match number_in_x value)
distribution_runtimes_by_selected_genre <- distribution_of_runtimes(unique_movies_in_genre)

# output a sample of 5 rows
sample_n(distribution_runtimes_by_selected_genre, 5)

[1] "---- total counted= 27448"
[1] "---- unique runtimes= 395"

  runtime count
1 433     0
2 280     1
3 166     2
4 268     0
5 294     1

In [35]:
# table of "distribution of certificates in that genre" (total_counted value should match number_in_x value)
distribution_certificates_by_selected_genre <- distribution_of_certificates(unique_movies_in_genre)

# output a sample of 5 rows
sample_n(distribution_certificates_by_selected_genre, 5)

[1] "---- total counted= 27448"
[1] "---- unique certificates= 12"

  rating   count
1 USA:G      840
2 USA:R    10293
3 USA:Open     6
4 USA:AO       3
5 USA:PG    3518

In [36]:
# table of "distribution of top n keywords in that genre"

# keywords table only for movies found in selected_genre
keywords_subset_for_genre <- subset(keywords_subset, movie %in% movies_in_selected_genre$movie)

top_N = 10
distribution_keywords_by_selected_genre <- distribution_of_keywords(keywords_subset_for_genre, top_N)

# output a sample of 10 rows
sample_n(distribution_keywords_by_selected_genre, 10)

Selecting by count

[1] "---- total counted= 41369"
[1] "---- unique keywords= 10"

   keyword                      count
1  independent-film             6555
2  murder                       5112
3  cigarette-smoking            3621
4  character-name-in-title      3325
5  death                        3725
6  father-son-relationship      3703
7  husband-wife-relationship    4362
8  father-daughter-relationship 3233
9  based-on-novel               3730
10 female-nudity                4003

In [37]:
############## CHOOSE KEYWORD ##############

In [38]:
# keyword input is comma separated string list
selected_keywords = "fight, cat-and-mouse , fake_test, shOtguN, "

# split keyword input to individual inputs
keywords <- unlist(strsplit(selected_keywords, ","))

# retrieve first keyword as a "base"
condition <- paste0("str_to_lower(str_trim(keywords[1])) == str_to_lower(keyword) ")

# if more than 1 keywords provided...
if (length(keywords) > 1) {
    
    # then build conditional string for each one after "base"
    for (i in 2:length(keywords)) {
        
        # make a new condition with the current keyword, being sure to ignore case and trim the input
        next_condition <- paste0("| str_to_lower(str_trim(keywords[", i, "])) == str_to_lower(keyword) ")
        
        # add the new condition onto the current list of conditions
        condition <- paste(condition, next_condition, sep = "")
    }
}

# movie keyword found in keyword column, just fetch it by parsing the condition from above
movies_in_selected_keywords <- subset(keywords_subset, eval(parse(text = condition)))

# output a sample of movies found for given keyword(s)
sample_n(movies_in_selected_keywords, 10)

   X       movie                       keyword
1  1930478 Meskada (2010)              fight
2   421020 Bonneville (2006)           fight
3  1110479 Gentle Annie (1944)         fight
4   489005 Caffeine (2006)             shotgun
5   291038 Bad Timing (1980)           fight
6   151121 Alias Boston Blackie (1942) fight
7  2918884 The Boss (2016)             fight
8   109587 Above the Law (1988)        fight
9   238966 Armageddon (1998)           shotgun
10 1873139 Man on a Ledge (2012)       fight

In [40]:
movies_in_selected_keywords <- subset(data, movie %in% movies_in_selected_keywords$movie)
sample_n(movies_in_selected_keywords, 10)

   movie                     year month     genre    runtime rating
1  Death Race (2008)         2008 October   Sci-Fi   105     USA:R
2  Malèna (2000)             2000 December  Romance   92     USA:R
3  Cloud Atlas (2012)        2012 December  Mystery  134     USA:R
4  The Immigrant (2013)      2013 November  Romance  120     USA:R
5  Suspect Zero (2004)       2004 October   Drama     99     USA:R
6  Kill Your Darlings (2013) 2013 December  Thriller 104     USA:R
7  Out for Justice (1991)    1991 September Crime     91     USA:R
8  A Simple Wish (1997)      1997 October   Family    89     USA:PG
9  Reindeer Games (2000)     2000 December  Crime    124     USA:R
10 Mac and Me (1988)         1988 September Family    95     USA:PG

  n
1 61527

In [87]:
#
#
# repeat code similarily as found in CHOOSE GENRE section
#
#

In [88]:
############## CHOOSE CERTIFICATE ##############

In [89]:
# certificate input is comma separated string list
selected_certificates = "USA:Pg-13, USA:UnRateD , USA:fake_test, USA:, "

# split certificate input to individual inputs
certificates <- unlist(strsplit(selected_certificates, ","))

# retrieve first certificate as a "base"
condition <- paste0("str_to_lower(str_trim(certificates[1])) == str_to_lower(rating) ")

# if more than 1 certificates provided...
if (length(certificates) > 1) {
    
    # then build conditional string for each one after "base"
    for (i in 2:length(certificates)) {
        
        # make a new condition with the current certificate, being sure to ignore case and trim the input
        next_condition <- paste0("| str_to_lower(str_trim(certificates[", i, "])) == str_to_lower(rating) ")
        
        # add the new condition onto the current list of conditions
        condition <- paste(condition, next_condition, sep = "")
    }
}

# movie certificate found in certificate column, just fetch it by parsing the condition from above
movies_in_selected_certificates <- subset(data, eval(parse(text = condition)))

# output a sample of movies found for given certificate(s)
sample_n(movies_in_selected_certificates, 10)

   movie                                      year month     genre
1  Heartlands (2002)                          2002 August    Drama
2  The Wolves (1996)                          1996 March     Action
3  Pit and the Pendulum (1961)                1961 August    Mystery
4  Before I Wake (2016)                       2016 April     Thriller
5  Drowning Mona (2000)                       2000 July      Comedy
6  The Way (2010/I)                           2010 September Drama
7  Eric Clapton Planes Trains and Eric (2014) 2014 November  Documentary
8  Shallow Hal (2001)                         2001 November  Comedy
9  Bachelor Night (2014)                      2014 August    Comedy
10 Paradies: Hoffnung (2013)                  2013 November  Drama
   runtime rating
1   90     USA:PG-13
2   88     USA:PG-13
3   80     USA:Unrated
4   97     USA:PG-13
5   96     USA:PG-13
6  123     USA:PG-13
7  155     USA:Unrated
8  114     USA:PG-13
9   88     USA:Unrated
10  92     USA:Unrated

In [90]:
#
#
# repeat code similarily as found in CHOOSE GENRE section
#
#

In [91]:
############## CHOOSE RUNTIME ##############

In [92]:
# runtime input is range from min to max
runtime_min = 60
runtime_max = 120

# movie runtime found in runtime column, just fetch it and compare the inputs
movies_in_selected_runtimes <- subset(data, runtime_min <= runtime & runtime_max >= runtime)

# output a sample of movies found for given runtime range
sample_n(movies_in_selected_runtimes, 10)

   movie                       year month     genre     runtime rating
1  Vital (2004)                2004 December  Drama      86     USA:R
2  Opa! (2005)                 2005 September Romance   100     USA:PG-13
3  It Started in Naples (1960) 1960 October   Drama     100     USA:Approved
4  Wife of General Ling (1937) 1937 April     Drama      72     USA:Approved
5  Midnight in Paris (2011)    2011 August    Romance   100     USA:PG-13
6  Warlock (1989)              1989 November  Action    103     USA:R
7  Mr. Bean's Holiday (2007)   2007 April     Family     90     USA:PG
8  Knots (2004)                2004 April     Comedy     93     USA:R
9  2 Minutes Later (2007)      2007 September Adventure  78     USA:Unrated
10 Bandido! (1956)             1956 September Adventure  92     USA:Passed

In [93]:
#
#
# repeat code similarily as found in CHOOSE GENRE section
#
#