In [1]:
#######################################
# CS 424 - Project 3
# Kevin Kowalski
# Samuel Kajah
# Vijay Vemu
#######################################
#
# This file contains the code to clean
# the original data set. It outputs
# the necessary plots and updated data
# set to be used by shiny.
#
# This file was used for testing and 
# plotting before using RStudio for a
# dashboard.
#
#######################################

In [2]:
# import libraries
library(comprehenr)
library(dplyr)
library(ggplot2)
library(hashmap)
library(lubridate)
library(stringr)

Warning message:
"package 'comprehenr' was built under R version 3.6.2"Warning message:
"package 'dplyr' was built under R version 3.6.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'ggplot2' was built under R version 3.6.2"Warning message:
"package 'hashmap' was built under R version 3.6.2"Warning message:
"package 'lubridate' was built under R version 3.6.2"
Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

Warning message:
"package 'stringr' was built under R version 3.6.2"

In [3]:
# read in the new CSV files
df_certificates = read.csv('data_files/new_files/certificates.csv')
df_genres = read.csv('data_files/new_files/genres.csv')
df_keywords = read.csv('data_files/new_files/keywords.csv')
df_movies = read.csv('data_files/new_files/movies.csv')
df_releases = read.csv('data_files/new_files/releases.csv')
df_runtimes = read.csv('data_files/new_files/runtimes.csv')

In [4]:
# printing certificate CSV info
print(paste0("---- df_certificates, n=", count(df_certificates)))
sample_n(df_certificates, 5)
summary(df_certificates)

[1] "---- df_certificates, n=55567"

  movie                                      rating
1 La môme (2007)                             USA:PG-13
2 Forget Paris (1995)                        USA:PG-13
3 Prince of Persia: The Sands of Time (2010) USA:PG-13
4 Hustlas (2002)                             USA:R
5 Seventh Column (1943)                      USA:Approved

                                                 movie
 The Green Archer (1940)                            :   16
 The Mysterious Pilot (1937)                        :   16
 The Amazing Exploits of the Clutching Hand (1936/I):   15
 The Shadow (1940)                                  :   14
 Sky Raiders (1941)                                 :   13
 Junior G-Men of the Air (1942)                     :   12
 (Other)                                            :55481
          rating
 USA:R       :16302
 USA:Approved:13864
 USA:Passed  : 7327
 USA:PG      : 5510
 USA:PG-13   : 5337
 USA:Unrated : 4611
 (Other)     : 2616

In [5]:
# printing genre CSV info
print(paste0("---- df_genres, n=", count(df_genres)))
sample_n(df_genres, 5)
summary(df_genres)

[1] "---- df_genres, n=1340551"

  movie                               genre
1 All Tangled Up '10: The Doc! (2010) Drama
2 Jégszekrénybe zárva (2015)          Documentary
3 Møllen (1908)                       Drama
4 Bringing Up Betty (1919)            Drama
5 Mithivedi (2012)                    War

                                 movie                 genre
 Melon Soda (2008)                  :     14   Drama      :337702
 The Travelogues (2008)             :     12   Comedy     :214682
 Vampire Hunter D: Bloodlust (2000) :     11   Documentary:176268
 Batman: Mask of the Phantasm (1993):     10   Thriller   : 67827
 Gumby 1 (1995)                     :     10   Romance    : 64033
 Dreamworks Spooky Stories (2012)   :      9   Action     : 56333
 (Other)                            :1340485   (Other)    :423706

In [6]:
# printing keyword CSV info
print(paste0("---- df_keywords, n=", count(df_keywords)))
sample_n(df_keywords, 5)
summary(df_keywords)

[1] "---- df_keywords, n=3763298"

  movie                      keyword
1 Daybreakers (2009)         american-flag
2 Mila (2001)                teacher
3 Anything Can Happen (1952) on-the-road
4 The Electric House (1922)  escalator
5 Mr. B Natural (1957)       surrealism

                                       movie
 Pane, vy jste vdova! (1971)              :    678
 75 (2017)                                :    587
 The Dark Knight (2008)                   :    580
 Batman v Superman: Dawn of Justice (2016):    548
 The Boys Club (1996)                     :    541
 Golgo 13 (1983)                          :    520
 (Other)                                  :3759844
                    keyword
 independent-film       :  34932
 based-on-novel         :  22626
 character-name-in-title:  21769
 murder                 :  19321
 f-rated                :  18253
 sex                    :  17555
 (Other)                :3628842

In [7]:
# printing movie CSV info
print(paste0("---- df_movies, n=", count(df_movies)))
sample_n(df_movies, 5)
summary(df_movies)

[1] "---- df_movies, n=1024452"

  movie                                     year
1 Catnap (2018)                             2018
2 Le dernier choc (1932)                    1932
3 Sanda (2013)                              2013
4 All Aboard the Dreamland Choo-Choo (1964) 1964
5 Sacred Cinema (2012)                      2012

                                         movie              year
 ''The Shot'' (2012)                        :      1   Min.   :1874
 '...nettirwnU' (2005)                      :      1   1st Qu.:1969
 '_____' (Insert Superhero Name Here) (2013):      1   Median :2006
 '06: The Big One (2006)                    :      1   Mean   :1987
 '11' (1980)                                :      1   3rd Qu.:2013
 '14 oktobar' (1968)                        :      1   Max.   :2115
 (Other)                                    :1024446

In [8]:
# printing release CSV info
print(paste0("---- df_releases, n=", count(df_releases)))
sample_n(df_releases, 5)
summary(df_releases)

[1] "---- df_releases, n=1724262"

  movie                 month    year
1 The Heat (2013/I)     October  2013
2 La vie à venir (2016) November 2016
3 Cannonball! (1984)    NA       1984
4 Convictions (2016)    March    2017
5 Dumbo (1941)          November 1942

                                    movie               month
 Maudie (2016)                         :    284   October  :185018
 Mirror (2016/VI)                      :    193   November :154897
 4242 (2016)                           :    179   September:154526
 Snow White and the Seven Dwarfs (1937):    153   April    :144281
 The Imitation Game (2014)             :    144   March    :135903
 Bakemono no ko (2015)                 :    143   (Other)  :829148
 (Other)                               :1723166   NA's     :120489
      year
 Min.   :1874
 1st Qu.:1979
 Median :2006
 Mean   :1992
 3rd Qu.:2013
 Max.   :2115

In [9]:
# printing runtime CSV info
print(paste0("---- df_runtimes, n=", count(df_runtimes)))
sample_n(df_runtimes, 5)
summary(df_runtimes)

[1] "---- df_runtimes, n=283155"

  movie                                         runtime
1 The Heaven Is Only Open to the Single! (2012)  95
2 Rajkumar (2008)                               155
3 Shikijô joshibenjo: Shitataru! (1995)          60
4 Foolad-e Mobarakeh (1997)                      65
5 Ma and Pa Kettle at the Fair (1952)            78

                         movie           runtime
 Der heiße Tod (1969)       :    10   Min.   :    60.0
 Die freudlose Gasse (1925) :    10   1st Qu.:    80.0
 Shichinin no samurai (1954):    10   Median :    90.0
 Braindead (1992)           :     9   Mean   :    94.5
 Ai no korîda (1976)        :     8   3rd Qu.:   101.0
 Cleopatra (1963)           :     8   Max.   :125156.0
 (Other)                    :283100

In [10]:
############## COUNT/DISTRIBUTION TABLES BELOW ##############

In [61]:
# get a count of movies from each year (earliest movie in 1874, latest movie in 2115)

# create empty dataframe of all years in range 1874-2115
all_years <- data.frame(formatC(1874:2115, width = 2), 0)
names(all_years)[1] <- "year"
names(all_years)[2] <- "count"
all_years$year <- c(1874:2115)

# make dataframe of available years and their frequency
by_year <- df_movies %>% group_by(year) %>% summarize(count = n())

# join the counts into the full range of years dataframe
by_year <- full_join(all_years, by_year, by = "year")
by_year[is.na(by_year)] <- 0
by_year$count.x <- NULL
names(by_year)[2] <- "count"

# output info
sample_n(by_year, 10)
total_films = as.numeric(sum(by_year$count))
print(paste0("---- total counted= ", total_films))
unique_years = as.numeric(count(by_year))
print(paste0("---- unique years= ", unique_years))

   year count
1  2099    0
2  1937 3003
3  1927 3113
4  1992 5674
5  2026    1
6  1874    1
7  2047    0
8  2110    0
9  1996 6597
10 2085    0

[1] "---- total counted= 1024452"
[1] "---- unique years= 242"

In [49]:
# get a count of movies from each month
by_month <- df_releases %>% group_by(month) %>% summarize(count = n())

# reorder months to be in order
by_month$month <- factor(by_month$month, levels = c("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"))
by_month <- by_month[order(by_month$month), ]

# output info
by_month
print(paste0("---- total counted= ", month_sum))
unique_months = as.numeric(count(by_month))
print(paste0("---- unique months= ", unique_months))

Warning message:
"Factor `month` contains implicit NA, consider using `forcats::fct_explicit_na`"

   month     count
1  January   119598
2  February  114326
3  March     135903
4  April     144281
5  May       129916
6  June      126094
7  July      111870
8  August    114394
9  September 154526
10 October   185018
11 November  154897
12 December  112950
13 NA        120489

[1] "---- total counted= 1724262"
[1] "---- unique months= 13"

In [35]:
# get a distribution of runtimes (quickest movie is 60.0, longest movie is 125156.0)

# create empty dataframe of all runtimes in range 60-125156
all_runtimes <- data.frame(formatC(60:125156, width = 2), 0)
names(all_runtimes)[1] <- "runtime"
names(all_runtimes)[2] <- "count"
all_runtimes$runtime <- c(60:125156)

# make dataframe of available runtimes and their frequency
by_runtime <- df_runtimes %>% group_by(runtime) %>% summarize(count = n())

# join the counts into the full range of years dataframe
by_runtime <- full_join(all_runtimes, by_runtime, by = "runtime")
by_runtime[is.na(by_runtime)] <- 0
by_runtime$count.x <- NULL
names(by_runtime)[2] <- "count"

# output info
head(by_runtime, 10)
print(paste0("---- total counted= ", sum(by_runtime$count)))
unique_runtimes = as.numeric(count(by_runtime))
print(paste0("---- unique runtimes= ", unique_runtimes))

   runtime count
1  60      8158
2  61      1988
3  62      2012
4  63      1898
5  64      1640
6  65      2743
7  66      1520
8  67      1875
9  68      1925
10 69      1535

[1] "---- total counted= 283155"
[1] "---- unique runtimes= 125102"

In [36]:
# get a distribution of certificate
by_certificates <- df_certificates %>% group_by(rating) %>% summarize(count = n())

# output info
by_certificates
print(paste0("---- total counted= ", sum(by_certificates$count)))
unique_certificates = as.numeric(count(by_certificates))
print(paste0("---- unique certificates= ", unique_certificates))

   rating       count
1  USA:(Banned)     4
2  USA:12          16
3  USA:AO          20
4  USA:Approved 13864
5  USA:G         2214
6  USA:GA           1
7  USA:GP         328
8  USA:Open        33
9  USA:Passed    7327
10 USA:PG        5510
11 USA:PG-13     5337
12 USA:R        16302
13 USA:Unrated   4611

[1] "---- total counted= 55567"
[1] "---- unique certificates= 13"

In [37]:
# get a distribution of top n keywords
by_keywords <- df_keywords %>% group_by(keyword) %>% summarize(count = n())

# output info
top_n(by_keywords, 10)
print(paste0("---- total counted= ", sum(by_keywords$count)))
unique_keywords = as.numeric(count(by_keywords))
print(paste0("---- unique keywords= ", unique_keywords))

Selecting by count

   keyword                   count
1  based-on-novel            22626
2  character-name-in-title   21769
3  death                     12710
4  f-rated                   18253
5  female-nudity             15146
6  husband-wife-relationship  9888
7  independent-film          34932
8  murder                    19321
9  sex                       17555
10 violence                   9823

[1] "---- total counted= 3763298"
[1] "---- unique keywords= 32370"

In [38]:
# get a distribution of genres
by_genre <- df_genres %>% group_by(genre) %>% summarize(count = n())

# output info
sample_n(by_keywords, 10)
print(paste0("---- total counted= ", sum(by_genre$count)))
unique_genres = as.numeric(count(by_genre))
print(paste0("---- unique genres= ", unique_genres))

   keyword           count
1  eco-activist       43
2  parent            141
3  mockery            54
4  whipping-someone   21
5  sexual-perversion 245
6  title-in-song      28
7  bad-manners        12
8  manipulator        10
9  impressionist      16
10 single-mom         18

[1] "---- total counted= 1340551"
[1] "---- unique genres= 22"

In [ ]:
############## AVERAGES BELOW ##############

In [69]:
# get average films per year, month, and average runtime

# average fims per year: sum of films divided by total years observed
avg_per_year = trunc(total_films / unique_years)
print(paste0("---- avg films per year= ", avg_per_year))

# average films per month: sum of films each month, each sum divided by total years observed; then average these results
avg_by_month <- by_month
avg_by_month$count <- by_month$count / unique_years
names(avg_by_month)[2] <- "average"
avg_per_month = trunc(as.numeric(sum(avg_by_month$average) / unique_months))
print(paste0("---- avg films per month= ", avg_per_month))
avg_by_month

# average runtime: sum of each runtime divided by total runtime observations
avg_runtime = trunc(mean(df_runtimes$runtime))
print(paste0("---- avg runtime= ", avg_runtime))

[1] "---- avg films per year= 4233"
[1] "---- avg films per month= 548"

   month     average
1  January   494.2066
2  February  472.4215
3  March     561.5826
4  April     596.2025
5  May       536.8430
6  June      521.0496
7  July      462.2727
8  August    472.7025
9  September 638.5372
10 October   764.5372
11 November  640.0702
12 December  466.7355
13 NA        497.8884

[1] "---- avg runtime= 94"

In [ ]:
# !!! may need to store this prepared data to RDS for quicker shiny load times !!!
# write the cleaned data to RDS file
#saveRDS(data, file = "data.rds")