In [1]:
#######################################
# CS 424 - Project 3
# Kevin Kowalski
# Samuel Kajah
# Vijay Vemu
#######################################
#
# This file contains the code to clean
# the original data set. It outputs
# the necessary plots and updated data
# set to be used by shiny.
#
# This file was used for testing and 
# plotting before using RStudio for a
# dashboard.
#
#######################################

In [2]:
# import libraries
library(comprehenr)
library(dplyr)
library(ggplot2)
library(hashmap)
library(lubridate)
library(stringr)
library(tidyverse)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘lubridate’


The following object is masked from ‘package:base’:

    date


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ tibble  3.0.0     ✔ purrr   0.3.3
✔ tidyr   1.0.2     ✔ forcats 0.4.0
✔ readr   1.3.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ lubridate::as.difftime() masks base::as.difftime()
✖ lubridate::date()        masks base::date()
✖ dplyr::filter()          masks stats::filter()
✖ lubridate::intersect()   masks base::intersect()
✖ dplyr::lag()             masks stats::lag()
✖ lubridate::setdiff()     masks base::setdiff()
✖ lubridate::union()       masks base::union()

In [3]:
# read in the CSV files
df_certificates = read.csv('data_files/new_files/certificates.csv')
df_genres = read.csv('data_files/new_files/genres.csv')
df_keywords = read.csv('data_files/new_files/keywords.csv')
df_movies = read.csv('data_files/new_files/movies.csv')
df_releases = read.csv('data_files/new_files/releases.csv')
df_runtimes = read.csv('data_files/new_files/runtimes.csv')

In [4]:
# printing certificate CSV info
print(paste0("---- df_certificates, n=", count(df_certificates)))
sample_n(df_certificates, 5)
summary(df_certificates)

[1] "---- df_certificates, n=55567"

  movie                            rating
1 For the Love of Pete (1936)      USA:Passed
2 Eddy Ray (2006)                  USA:Unrated
3 Big Fan (2009)                   USA:R
4 Le avventure di Cartouche (1955) USA:Passed
5 Standoff (2016/I)                USA:R

                                                 movie
 The Green Archer (1940)                            :   16
 The Mysterious Pilot (1937)                        :   16
 The Amazing Exploits of the Clutching Hand (1936/I):   15
 The Shadow (1940)                                  :   14
 Sky Raiders (1941)                                 :   13
 Junior G-Men of the Air (1942)                     :   12
 (Other)                                            :55481
          rating
 USA:R       :16302
 USA:Approved:13864
 USA:Passed  : 7327
 USA:PG      : 5510
 USA:PG-13   : 5337
 USA:Unrated : 4611
 (Other)     : 2616

In [5]:
# printing genre CSV info
print(paste0("---- df_genres, n=", count(df_genres)))
sample_n(df_genres, 5)
summary(df_genres)

[1] "---- df_genres, n=1340555"

  movie                  genre
1 Fail-Safe (1964)       Drama
2 Gleam of Hope (2017)   Drama
3 Amori e veleni (1952)  Drama
4 Päämäärä (1962)        Documentary
5 Contos da Morte (2016) Horror

                                 movie                 genre
 Melon Soda (2008)                  :     14   Drama      :337702
 The Travelogues (2008)             :     12   Comedy     :214682
 Vampire Hunter D: Bloodlust (2000) :     11   Documentary:176270
 Batman: Mask of the Phantasm (1993):     10   Thriller   : 67827
 Gumby 1 (1995)                     :     10   Romance    : 64033
 Dreamworks Spooky Stories (2012)   :      9   Action     : 56333
 (Other)                            :1340489   (Other)    :423708

In [6]:
# printing keyword CSV info
print(paste0("---- df_keywords, n=", count(df_keywords)))
sample_n(df_keywords, 5)
summary(df_keywords)

[1] "---- df_keywords, n=3763306"

  movie                            keyword            year
1 Scream 3 (2000)                  strong-female-lead 2000
2 Hajde da se volimo 3 (1990)      liar               1990
3 Violet (2000/II)                 italian            2000
4 Battle Taxi (1955)               korean-war         1955
5 Die Hard with a Vengeance (1995) stabbed-in-the-leg 1995

                                       movie
 Pane, vy jste vdova! (1971)              :    678
 75 (2017)                                :    587
 The Dark Knight (2008)                   :    580
 Batman v Superman: Dawn of Justice (2016):    548
 The Boys Club (1996)                     :    541
 Golgo 13 (1983)                          :    520
 (Other)                                  :3759852
                    keyword             year
 independent-film       :  34932   Min.   :1874
 based-on-novel         :  22626   1st Qu.:1972
 character-name-in-title:  21769   Median :1996
 murder                 :  19321   Mean   :1987
 f-rated                :  18253   3rd Qu.:2008
 sex                    :  17555   Max.   :2115
 (Other)                :3628850   NA's   :29406

In [7]:
# printing movie CSV info
print(paste0("---- df_movies, n=", count(df_movies)))
sample_n(df_movies, 5)
summary(df_movies)

[1] "---- df_movies, n=1024456"

  movie                       year
1 A Canine Affair (2014)      2014
2 Not of the Flock (1914)     1914
3 A Model Made (1921)         1921
4 All at Once (2015)          2015
5 Madame Pinkette & Co (1917) 1917

                      movie              year
 _ _ _' _ Peephole (2013):      1   Min.   :1874
 _. (2012)               :      1   1st Qu.:1969
 _+ Space Positive (2017):      1   Median :2006
 _EXHIBIT_84xxx_ (2016)  :      1   Mean   :1987
 _grau (2005)            :      1   3rd Qu.:2013
 _proxy (2015)           :      1   Max.   :2115
 (Other)                 :1024450

In [8]:
# printing release CSV info
print(paste0("---- df_releases, n=", count(df_releases)))
sample_n(df_releases, 5)
summary(df_releases)

[1] "---- df_releases, n=1724266"

  movie                    month     year
1 The Dark Swan (1924)     November  1924
2 À l'origine (2009)       March     2010
3 Jealousy Punished (1907) October   1907
4 Gingersnap (2009)        April     2009
5 Vixen! (1968)            September 1969

                                    movie               month
 Maudie (2016)                         :    284   October  :185019
 Mirror (2016/VI)                      :    193   November :154897
 4242 (2016)                           :    179   September:154526
 Snow White and the Seven Dwarfs (1937):    153   April    :144281
 The Imitation Game (2014)             :    144   March    :135903
 Bakemono no ko (2015)                 :    143   (Other)  :829150
 (Other)                               :1723170   NA's     :120490
      year
 Min.   :1874
 1st Qu.:1979
 Median :2006
 Mean   :1992
 3rd Qu.:2013
 Max.   :2115

In [9]:
# printing runtime CSV info
print(paste0("---- df_runtimes, n=", count(df_runtimes)))
sample_n(df_runtimes, 5)
summary(df_runtimes)

[1] "---- df_runtimes, n=283156"

  movie                          runtime
1 Jump Out Boys (2008)            83
2 The Boxer from Shandong (1927)  90
3 Turbina (1941)                  98
4 Hayazaki no hana (2006)        105
5 Wasted Youth (2011)            122

                         movie           runtime
 Der heiße Tod (1969)       :    10   Min.   :    60.0
 Die freudlose Gasse (1925) :    10   1st Qu.:    80.0
 Shichinin no samurai (1954):    10   Median :    90.0
 Braindead (1992)           :     9   Mean   :    94.5
 Ai no korîda (1976)        :     8   3rd Qu.:   101.0
 Cleopatra (1963)           :     8   Max.   :125156.0
 (Other)                    :283101

In [10]:
############## COUNT/DISTRIBUTION TABLES BELOW ##############

In [11]:
# get a count of movies from each year (earliest movie in 1874, latest movie in 2115)

# create empty dataframe of all years in range 1874-2115
all_years <- data.frame(formatC(1874:2115, width = 2), 0)
names(all_years)[1] <- "year"
names(all_years)[2] <- "count"
all_years$year <- c(1874:2115)

# make dataframe of available years and their frequency
by_year <- df_movies %>% group_by(year) %>% summarize(count = n())

# join the counts into the full range of years dataframe
by_year <- full_join(all_years, by_year, by = "year")
by_year[is.na(by_year)] <- 0
by_year$count.x <- NULL
names(by_year)[2] <- "count"

# output info
sample_n(by_year, 10)
total_films = as.numeric(sum(by_year$count))
print(paste0("---- total counted= ", total_films))
unique_years = as.numeric(count(by_year))
print(paste0("---- unique years= ", unique_years))

   year count
1  1904  1833
2  1893     2
3  1995  6301
4  1925  3288
5  2094     0
6  2058     0
7  2097     0
8  1968  4940
9  1950  2685
10 2013 53877

[1] "---- total counted= 1024456"
[1] "---- unique years= 242"

In [12]:
# get a count of movies from each month
by_month <- df_releases %>% group_by(month) %>% summarize(count = n())

# reorder months to be in order
by_month$month <- factor(by_month$month, levels = c("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"))
by_month <- by_month[order(by_month$month), ]

# output info
by_month
print(paste0("---- total counted= ", sum(by_month$count)))
unique_months = as.numeric(count(by_month))
print(paste0("---- unique months= ", unique_months))

Warning message:
“Factor `month` contains implicit NA, consider using `forcats::fct_explicit_na`”

   month     count
1  January   119598
2  February  114327
3  March     135903
4  April     144281
5  May       129916
6  June      126095
7  July      111870
8  August    114394
9  September 154526
10 October   185019
11 November  154897
12 December  112950
13 NA        120490

[1] "---- total counted= 1724266"
[1] "---- unique months= 13"

In [13]:
# get a distribution of runtimes (quickest movie is 60.0, longest movie is 125156.0)

# create empty dataframe of all runtimes in range 60-125156
all_runtimes <- data.frame(formatC(60:125156, width = 2), 0)
names(all_runtimes)[1] <- "runtime"
names(all_runtimes)[2] <- "count"
all_runtimes$runtime <- c(60:125156)

# make dataframe of available runtimes and their frequency
by_runtime <- df_runtimes %>% group_by(runtime) %>% summarize(count = n())

# join the counts into the full range of years dataframe
by_runtime <- full_join(all_runtimes, by_runtime, by = "runtime")
by_runtime[is.na(by_runtime)] <- 0
by_runtime$count.x <- NULL
names(by_runtime)[2] <- "count"

# output info
head(by_runtime, 10)
print(paste0("---- total counted= ", sum(by_runtime$count)))
unique_runtimes = as.numeric(count(by_runtime))
print(paste0("---- unique runtimes= ", unique_runtimes))

   runtime count
1  60      8158
2  61      1988
3  62      2012
4  63      1898
5  64      1640
6  65      2743
7  66      1520
8  67      1875
9  68      1925
10 69      1535

[1] "---- total counted= 283156"
[1] "---- unique runtimes= 125102"

In [14]:
# get a distribution of certificate
by_certificates <- df_certificates %>% group_by(rating) %>% summarize(count = n())

# output info
by_certificates
print(paste0("---- total counted= ", sum(by_certificates$count)))
unique_certificates = as.numeric(count(by_certificates))
print(paste0("---- unique certificates= ", unique_certificates))

   rating       count
1  USA:(Banned)     4
2  USA:12          16
3  USA:AO          20
4  USA:Approved 13864
5  USA:G         2214
6  USA:GA           1
7  USA:GP         328
8  USA:Open        33
9  USA:Passed    7327
10 USA:PG        5510
11 USA:PG-13     5337
12 USA:R        16302
13 USA:Unrated   4611

[1] "---- total counted= 55567"
[1] "---- unique certificates= 13"

In [15]:
# get a distribution of top n keywords
by_keywords <- df_keywords %>% group_by(keyword) %>% summarize(count = n())

# output info
top_n(by_keywords, 10)
print(paste0("---- total counted= ", sum(by_keywords$count)))
unique_keywords = as.numeric(count(by_keywords))
print(paste0("---- unique keywords= ", unique_keywords))

Selecting by count

   keyword                   count
1  based-on-novel            22626
2  character-name-in-title   21769
3  death                     12710
4  f-rated                   18253
5  female-nudity             15146
6  husband-wife-relationship  9888
7  independent-film          34932
8  murder                    19321
9  sex                       17555
10 violence                   9823

[1] "---- total counted= 3763306"
[1] "---- unique keywords= 32370"

In [16]:
# get a distribution of genres
by_genre <- df_genres %>% group_by(genre) %>% summarize(count = n())

# output info
sample_n(by_genre, 10)
print(paste0("---- total counted= ", sum(by_genre$count)))
unique_genres = as.numeric(count(by_genre))
print(paste0("---- unique genres= ", unique_genres))

   genre     count
1  Western   14775
2  Animation 46459
3  Fantasy   33197
4  Crime     40925
5  Musical   15183
6  Action    56333
7  Thriller  67827
8  Mystery   29220
9  Sci-Fi    28854
10 Music     25044

[1] "---- total counted= 1340555"
[1] "---- unique genres= 22"

In [17]:
############## AVERAGES BELOW ##############

In [18]:
# get average films per year, month, and average runtime

# average fims per year: sum of films divided by total years observed
avg_per_year = trunc(total_films / unique_years)
print(paste0("---- avg films per year= ", avg_per_year))

# average films per month: sum of films each month, each sum divided by total years observed; then average these results
avg_by_month <- by_month
avg_by_month$count <- by_month$count / unique_years
names(avg_by_month)[2] <- "average"
avg_per_month = trunc(as.numeric(sum(avg_by_month$average) / unique_months))
print(paste0("---- avg films per month= ", avg_per_month))
avg_by_month

# average runtime: sum of each runtime divided by total runtime observations
avg_runtime = trunc(mean(df_runtimes$runtime))
print(paste0("---- avg runtime= ", avg_runtime))

[1] "---- avg films per year= 4233"
[1] "---- avg films per month= 548"

   month     average
1  January   494.2066
2  February  472.4256
3  March     561.5826
4  April     596.2025
5  May       536.8430
6  June      521.0537
7  July      462.2727
8  August    472.7025
9  September 638.5372
10 October   764.5413
11 November  640.0702
12 December  466.7355
13 NA        497.8926

[1] "---- avg runtime= 94"

In [19]:
############## CHOOSE YEAR OR DECADE ##############

In [20]:
# get items by year
selected_year = 2011

# movie year found in movie name i.e. "{Title} (2014)" or "{Title} (2014/I)", extract year via pattern matching because year column is inaccurate for some reason
regex_year = paste0("\\(", selected_year, "\\)|\\(", selected_year, "\\/")
movies_in_selected_year <- subset(df_releases, grepl(regex_year, movie))

# output a sample of movies found for given year
sample_n(movies_in_selected_year, 10)

   movie                             month     year
1  Venicile Vyapari (2011)           December  2011
2  A Morning Stroll (2011)           May       2011
3  Himizu (2011)                     September 2011
4  A Wolf in Sheep's Clothing (2011) NA        2011
5  Le Havre (2011)                   August    2012
6  Eyyvah Eyvah 2 (2011)             January   2011
7  Ang babae sa septic tank (2011)   August    2011
8  Domesticada (2011)                February  2011
9  Puss in Boots (2011)              December  2011
10 The Tree of Life (2011)           September 2011

In [21]:
# get items by decade (where decades are in format of 1990, 2000, 2010, etc... for next 9 years, i.e. 1990-1999, 2000-2009, etc..)
selected_decade = 2010

# movie year found in movie name i.e. "{Title} (2014)" or "{Title} (2014/I)", extract decade via pattern matching for decade + 9
regex_decade = paste0("\\(", selected_decade / 10, "[0-9]\\)|\\(", selected_decade / 10, "[0-9]\\/")
movies_in_selected_decade <- subset(df_releases, grepl(regex_decade, movie))

# output a sample of movies found for given year
sample_n(movies_in_selected_decade, 10)

   movie                           month     year
1  Valley Inn (2014)               September 2014
2  Un voyage (2014)                April     2014
3  Junior (2011)                   January   2012
4  Lapped, Translated Lines (2010) October   2010
5  The Rocket (2013)               January   2014
6  Lilting (2014)                  June      2014
7  Face Value (2010)               September 2010
8  Lion (2016)                     February  2017
9  Bà nôi (2013)                   November  2013
10 Raw and Grass-Fed (2011)        December  2011

In [22]:
############## CHOOSE GENRE ##############

In [23]:
# genre input is comma separated string list
selected_genres = "comedy, Drama , fake_test, doCumenTarY, "

# split genres input to individual inputs
genres <- unlist(strsplit(selected_genres, ","))

# retrieve first genre as a "base"
condition <- paste0("str_to_lower(str_trim(genres[1])) == str_to_lower(genre) ")

# if more than 1 genres provided...
if (length(genres) > 1) {
    
    # then build conditional string for each one after "base"
    for (i in 2:length(genres)) {
        
        # make a new condition with the current genre, being sure to ignore case and trim the input
        next_condition <- paste0("| str_to_lower(str_trim(genres[", i, "])) == str_to_lower(genre) ")
        
        # add the new condition onto the current list of conditions
        condition <- paste(condition, next_condition, sep = "")
    }
}

# movie genre found in genre column, just fetch it by parsing the condition from above
movies_in_selected_genre <- subset(df_genres, eval(parse(text = condition)))

# output a sample of movies found for given genre(s)
sample_n(movies_in_selected_genre, 10)

   movie
1  Homenaje internacional al gran poeta mexicano Amado Nervo en Veracruz (1920)
2  Silent Voice (????)
3  Reminiscéncas Cinematográficas - Palhaços Chateau - Margot due dos Patos (1937)
4  Missing (2010/III)
5  Those Who Know, Knot (2016)
6  I Still Believe (2014)
7  A documentary about the wrong band: The story of Will Spector y Los Fatus (2017)
8  Sugar Shop (2011)
9  Good Grief (2017/IV)
10 I Should Worry (1913)
   genre
1  Documentary
2  Drama
3  Documentary
4  Drama
5  Drama
6  Documentary
7  Comedy
8  Drama
9  Comedy
10 Comedy

In [24]:
############## CHOOSE KEYWORD ##############

In [25]:
# keyword input is comma separated string list
selected_keywords = "fight, cat-and-mouse , fake_test, shOtguN, "

# split keyword input to individual inputs
keywords <- unlist(strsplit(selected_keywords, ","))

# retrieve first keyword as a "base"
condition <- paste0("str_to_lower(str_trim(keywords[1])) == str_to_lower(keyword) ")

# if more than 1 keywords provided...
if (length(keywords) > 1) {
    
    # then build conditional string for each one after "base"
    for (i in 2:length(keywords)) {
        
        # make a new condition with the current keyword, being sure to ignore case and trim the input
        next_condition <- paste0("| str_to_lower(str_trim(keywords[", i, "])) == str_to_lower(keyword) ")
        
        # add the new condition onto the current list of conditions
        condition <- paste(condition, next_condition, sep = "")
    }
}

# movie keyword found in keyword column, just fetch it by parsing the condition from above
movies_in_selected_keywords <- subset(df_keywords, eval(parse(text = condition)))

# output a sample of movies found for given keyword(s)
sample_n(movies_in_selected_keywords, 10)

   movie                                   keyword year
1  USS Indianapolis: Men of Courage (2016) fight   2016
2  Mac (1992)                              fight   1992
3  Na krásnom modrom Dunaji (1994)         fight   1994
4  Pikajuna pohjoiseen (1947)              fight   1947
5  Wild Riders (1971)                      fight   1971
6  Silent Night, Deadly Night (1984)       fight   1984
7  On the Ropes (1999)                     fight   1999
8  A Short Hike (2017)                     fight   2017
9  Jesse James as the Outlaw (1921)        shotgun 1921
10 Mafioso (1962)                          fight   1962

In [26]:
############## CHOOSE CERTIFICATE ##############

In [27]:
# certificate input is comma separated string list
selected_certificates = "USA:Pg-13, USA:UnRateD , USA:fake_test, USA:, "

# split certificate input to individual inputs
certificates <- unlist(strsplit(selected_certificates, ","))

# retrieve first certificate as a "base"
condition <- paste0("str_to_lower(str_trim(certificates[1])) == str_to_lower(rating) ")

# if more than 1 certificates provided...
if (length(certificates) > 1) {
    
    # then build conditional string for each one after "base"
    for (i in 2:length(certificates)) {
        
        # make a new condition with the current certificate, being sure to ignore case and trim the input
        next_condition <- paste0("| str_to_lower(str_trim(certificates[", i, "])) == str_to_lower(rating) ")
        
        # add the new condition onto the current list of conditions
        condition <- paste(condition, next_condition, sep = "")
    }
}

# movie certificate found in certificate column, just fetch it by parsing the condition from above
movies_in_selected_certificates <- subset(df_certificates, eval(parse(text = condition)))

# output a sample of movies found for given certificate(s)
sample_n(movies_in_selected_certificates, 10)

   movie                                                          rating
1  Think Like a Man Too (2014)                                    USA:PG-13
2  Looking for Richard (1996)                                     USA:PG-13
3  The Search for Signs of Inteligent Life in the Universe (1991) USA:PG-13
4  Iris (2014/IX)                                                 USA:PG-13
5  Payatas a Mirror of Poverty (2002)                             USA:PG-13
6  I Am Not Your Negro (2016)                                     USA:PG-13
7  The Darkest Hour (2011)                                        USA:PG-13
8  Zombieworld (2015)                                             USA:Unrated
9  Inventing Adam (2013)                                          USA:PG-13
10 Fantastic Four (2005/I)                                        USA:PG-13

In [28]:
############## CHOOSE RUNTIME ##############

In [29]:
# runtime input is range from min to max
runtime_min = 60
runtime_max = 120

# movie runtime found in runtime column, just fetch it and compare the inputs
movies_in_selected_runtimes <- subset(df_runtimes, runtime_min <= runtime & runtime_max >= runtime)

# output a sample of movies found for given runtime range
sample_n(movies_in_selected_runtimes, 10)

   movie                            runtime
1  Half a House (1975)              84
2  Mer kolkhozi mardik (1940)       84
3  Tout dépend des filles... (1980) 94
4  Le Chalet (2005)                 90
5  Beloved Impostor (1936)          86
6  An Englishman in New York (2009) 74
7  Byl sobie dzieciak (2013)        91
8  Struggle No More (2006)          85
9  Midnight Blue (1979)             83
10 Death Force (1978)               96

In [30]:
############## SINGLE RDS FILE BELOW ##############

In [31]:
# joining each CSV on movie column (excluding keywords, too large and slow)
combined <- df_movies %>%
            left_join(df_genres) %>%
            left_join(df_releases) %>%
            left_join(df_runtimes) %>%
            left_join(df_certificates) %>%
            #left_join(df_keywords) %>%
            #select(movie, month, genre, runtime, rating, keyword)
            select(movie, year, month, genre, runtime, rating)

# dropping rows with NA values
combined <- drop_na(combined)

# removing duplicate rows
combined <- combined[!duplicated(combined), ]

Joining, by = "movie"

Warning message:
“Column `movie` joining factors with different levels, coercing to character vector”
Joining, by = c("movie", "year")

Warning message:
“Column `movie` joining character vector and factor, coercing into character vector”
Joining, by = "movie"

Warning message:
“Column `movie` joining character vector and factor, coercing into character vector”
Joining, by = "movie"

Warning message:
“Column `movie` joining character vector and factor, coercing into character vector”

In [32]:
# writing the joined data to a single RDS file
saveRDS(combined, file = "combined_data.rds")